css Копіювати код :root {
  --sun-yellow: #f4c550;
  --vanilla-cream: #fbe9ba;
  --sage-green: #9fbaae;
  --mint-fog: #cbded3;
  --sky-blue: #9fb7ce;
  --ice-blue: #bfd6ea;
  --warm-rose: #e0a39a;
  --blush-pink: #f2c0bd;
  --peach-dawn: #f0aa8d;
  --soft-peach: #f4c8ba;
  --text: #121417;
  --text-light: #8a8a89;
  --green: #38cd3e;
  --black: #202021;
}
